Source: ledscape-ng-bbb-r30-dtb
Section: misc
Priority: optional
Maintainer: Nash Kaminski <nashkaminski@kaminski.io>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5
#Vcs-Git: git://anonscm.debian.org/collab-maint/ledscape-ng-bbb-r30-dtb.git
#Vcs-Browser: http://anonscm.debian.org/?p=collab-maint/ledscape-ng-bbb-r30-dtb.git;a=summary

Package: ledscape-ng-bbb-r30-dtb
Architecture: armhf
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: BeagleBone Black PRU0 r30 output and uio_pruss enabling DTB for ledscape 
